---
layout: default
image: at-chevron_4096x4096.png
---

<div class="home">

  <h1 class="page-heading">Auto Trader Engineering Blog</h1>

  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <h2>
          <a class="post-link" href="{{ site.github.url }}{{ post.url }}">{{ post.title }}</a>
        </h2>
        <p>
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        </p>

        {{ post.excerpt }}
        {% capture content_words %}
        {{ post.content | number_of_words }}
        {% endcapture %}
        {% capture excerpt_words %}
        {{ post.excerpt | number_of_words }}
        {% endcapture %}
        {% if excerpt_words != content_words %}
        <p><a class="btn btn-sm btn-primary" href="{{ site.github.url }}{{ post.url }}" role="button">Read more… <i class="fa fa-arrow-circle-right"></i></a>
        </p>
        {% endif %}

      </li>
    {% endfor %}
  </ul>
  {% assign paginator.total_pages = 2 %}
  {% if paginator.total_pages != 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ site.github.url }}{{ paginator.previous_page_path }}" class="previous">Previous</a>
    {% else %}
    <span class="previous inactive">Previous</span>
    {% endif %}
    <span class="page_number ">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
    <a href="{{ site.github.url }}{{ paginator.next_page_path }}" class="next">Next</a>
    {% else %}
    <span class="next inactive">Next</span>
    {% endif %}
  </div>
  {% endif %}
  
</div>
