<span class="social-share">
  Share:
  <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.github.url }}{{ page.url }}&via={{ site.twitter.username }}&related={{ site.twitter.username }}" rel="nofollow" target="_blank" title="Share on Twitter">
    {% include icons/twitter.html %}
  </a>
  <a href="https://facebook.com/sharer.php?u={{ site.github.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook">
    {% include icons/facebook.html %}
  </a>
</span>
