//---Base Colors --

//Black
$at-black: #333;
$at-darkest: #00192d;

//White
$at-white: #fff;
$at-transparent: transparentize($at-white, 1);

//Type
$at-text: #666666;
$at-placeholder: #999999;

//Primary palette
$at-pink: #ffd5d1;
$at-red: #FF4436;
$at-red-dark: #FE0600;

$at-blue: #313c53;
$at-blue-light: #5d7199;
$at-blue-dark: #242d3d;

$at-grey-light: #f7f7f5;
$at-grey: #e8e8e3;
$at-grey-dark: #d0d0cb;

$at-aqua: #00d7d2;
$at-aqua-light: #86ebe9;
$at-aqua-dark: #06a09d;

//Secondary palette
$at-yellow: #ffc400;
$at-yellow-light: #ffebb6;
$at-orange: #ff9a00;

$at-green: #7bd500;
$at-green-light: #b4eda0;
$at-green-dark: #3f7600;