.top-header {
  background-color: $at-white;
  min-height: 36px;
  width: 100%;
  overflow:hidden;
  text-align: left;

  .wrapper {
    .at-logo {
      text-indent: -9999px;
      background-image: url(../images/autotrader.svg);
      background-size: 100% 100%;
      background-repeat: no-repeat;
      width: 260px;
      margin: 5px 0;
      display: block;
      text-align: left;
    }

    @include media-query($on-palm) {
      display: none
    }
  }

   span {
    color: $at-gray-darkest;
     display: none;
  }
}

.site-nav {
  position: relative;
  width: 100%;
  height: 56px;
  background: $brand-color;
  border-bottom: none;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  display:block;
  text-align:left;

  svg {
    color: $at-white;
  }

  .at-logo {
    text-align:left;
    text-indent: -9999px;

    @include media-query($on-palm) {
      position: absolute;
      display: block;
      text-indent: -9999px;
      background: url(../images/autotrader-white.svg) no-repeat center;
      background-size: 140px;

      width: 90%;
      padding-top: 10px;
      height: 10px;
    }
  }


  .wrapper {
    .page-link {
      display: inline-block;
      text-decoration: none;
      padding: 7px 5px;
      &:hover {
        background-color: $at-blue-dark;
        cursor: pointer;
      }
    }


    @include media-query($on-palm) {
      padding: 0;

      .page-link {
        width: 100%;
        padding: 4px 0 0;
      }

    }

  }
}






