/**
 * Site header
 */
.site-header {
    min-height: 56px;
    overflow:hidden;
    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    padding: 12px 0;
    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;

    .site-title {
        padding: 0;
    }

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $at-white;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        line-height: 0;
        padding-top: 5px;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            min-height: 26px;

            text-align: center;

            > svg {
                width: 18px;
                height: 15px;
                margin-top: 2px;


                path {
                    fill: $at-white;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}

//== utilities

.u-p-10 {
  padding: 10px;
}

.u-center-img {
    text-align: center;
    margin: 0 auto;
    display: block;
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0 0 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}


.social-media-list li {
    display: inline-block;
    padding-right: 10px;
}

footer {
    font-size: 15px;
    color: $text-color;
    margin-left: -$spacing-unit / 2;
    text-align: center;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}


.copyright-base {
    width: 100%;
    background: $brand-color;
    border-bottom: none;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 2px 4px 0 rgba(0, 0, 0, 0.2);

    a {
        color: white;
        text-decoration: underline;
    }

   .copyright-base-inner {
        width: 100%;

        margin: 0 auto;
        color: $at-white;
        padding: 8px 0;
        text-align: center;
        font-size: 11px;
        line-height: 14px;
        font-weight: 400;
        letter-spacing: 0.7px;
    }


    @include media-query($on-palm) {
        text-align:right;
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
	font-size: 40px;
	font-weight: 500;
	line-height: 1.1;
	color: $brand-color;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $text-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



.pagination {
    a, span {
        padding-right: .25em;
    }
    .inactive {
        color: $grey-color;
    }
}

/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
    .social-share {
      float: right;
    }
}

.post-title {
	font-size: 40px;
	font-weight: 500;
	line-height: 1.1;

    @include media-query($on-laptop) {
        font-size: 32px;
        font-weight: 500;
        line-height: 1.12;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
