/**
 * Tables
 */
table {
  width: 100%;
  margin-bottom: .5em;
  th {
    background-color: $at-blue-dark;
    color: $at-grey-light;
    text-align: left;
  }
  td {
    background-color: $at-grey-light;
  }
  //padding: 0;
  //border-spacing: 0;
  tr {
    border-spacing: 1px 0;
  }
  //border: 1px solid $at-grey-dark;
}